\documentclass[11pt]{article}
\usepackage{cs170}

\def\title{\VAR{title}}

\begin{document}
\maketitle

\section*{Due on \VAR{date}}

\BLOCK{for question in questions}
\input{\VAR{question}}

\BLOCK{endfor}

\end{document}
