\documentclass[preview]{standalone}
\usepackage{cs170}

\renewenvironment{solution}{
	\comment
}{
	\endcomment
}

\begin{document}
\fontsize{12}{15}\selectfont

\input{\VAR{question}}

\end{document}
